.image-overlay {
    position: relative;
  }
  
  .image-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 투명도 레이어 */
    z-index: 1;
  }
  
  .image-overlay img {
    width: 100%;
    height: auto;
  }
  

.image-overlay {
    position: relative;
    text-align: center; /* 텍스트 중앙 정렬 */
    color: white;
  }
  
  .image-overlay img {
    width: 100%;
    height: auto;
  }
  
  .image-overlay .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 텍스트를 수평, 수직으로 중앙에 배치 */
    z-index: 2;
    font-size: 24px;
    font-weight: bold;
    color: white; /* 텍스트 색상 */
  }
  